<!DOCTYPE html>
<html lang="en">

    <head>
        <base href="http://149.28.143.249//"/>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Thông Tin Khách Hàng</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="shortcut icon" href="/images/favicon.ico">
         <!-- Alertify css -->
         <link href="/plugins/alertify/css/alertify.css" rel="stylesheet" type="text/css">
        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="/plugins/morris/morris.css">

        <!-- Basic Css files -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">

    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <%- include ("./partials/sliderbar") %>
            <!-- Left Sidebar End -->


            <!-- Start right Content here -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <%- include ("./partials/nav") %>
                    <!-- Top Bar End -->

                        <!-- ==================
                         PAGE CONTENT START
                         ================== -->

                         <div class="page-content-wrapper">

                            <div class="container-fluid">                  
                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
            
                                            <h4 class="mt-0 header-title">Sửa thông tin khách hàng</h4>
                                            <p class="text-muted m-b-30 font-14"></p>
                                            <%- include ("./partials/error-alerts") %>
                                        <form class="form-horizontal m-t-30" action="./editcustomer" method="POST" enctype="multipart/form-data">   
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-sm-2 col-form-label">Họ Tên:</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control"   type="text" minlength=10 value="<%- danhsachKH.NameKh      %>" name ="txtNameKh"  id="example-text-input">
                                                </div>
                                            </div>
                                           
                                         
                                           
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-2 col-form-label">Số Điện Thoại:</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="number" value="<%- danhsachKH.SDTKH      %>" name="txtSDTKH" >
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-2 col-form-label">CMND: </label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="tel" value="<%- danhsachKH.SCMND      %>" maxlength=9 minlength=9 name="txtCMND" >
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-2 col-form-label">Tải lên mặt trước CMND: </label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="file"   accept='image/*' name="" id ="cmnd1" >
                                                    <img src="upload/<%- danhsachKH.CMNDimage1%>"/>>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-2 col-form-label">Tải lên mặt sau CMND: </label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="file" accept='image/*' name="" id ="cmnd2" >
                                                    <img src="upload/<%- danhsachKH.CMNDimage2%>"/>>
                                                </div>
                                            </div>                                                                         
                                            <div class="col-sm-6 text-right">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Xác Nhận</button>
                                            </div>
                                        </form>
                                           
                                        
                                           
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                      
                
    
                            </div><!-- container -->
    
                        </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    ©2020Pos<i class="mdi mdi-heart text-danger"></i> by Tom Tran
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


        <!-- jQuery  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/jquery.slimscroll.js"></script>
        <script src="/js/waves.js"></script>
        <script src="/js/jquery.nicescroll.js"></script>
        <script src="/js/jquery.scrollTo.min.js"></script>

        <!--Morris Chart-->
        <script src="/plugins/morris/morris.min.js"></script>
        <script src="/plugins/raphael/raphael-min.js"></script>

        <script src="/pages/dashboard.js"></script>
     
        <!-- App js -->
        <script src="/js/app.js"></script>

      
  
        <!-- Required datatable js -->
        <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
  
        <!-- Buttons examples -->
        <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/plugins/datatables/jszip.min.js"></script>
        <script src="/plugins/datatables/pdfmake.min.js"></script>
        <script src="/plugins/datatables/vfs_fonts.js"></script>
        <script src="/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/plugins/datatables/buttons.print.min.js"></script>
        <script src="/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
  
        <!-- Datatable init js -->
        <script src="/pages/datatables.init.js"></script>
  
           <!-- Alertify js -->
        <script src="/plugins/alertify/js/alertify.js"></script>
        <script src="/pages/alertify-init.js"></script>
   
  

    </body>
</html>